/* Education Section Styles */
.education-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease, width 1.5s ease;
  width: 100%;
}

.education-contain.visible-timeline {
  opacity: 1;
  transform: translateY(0);
}

.section-timeline{
  width: 100%;
}

.timeline-item {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 30px;
  padding: 20px;
  border-left: 3px solid var(--color-primary);
  color: var(--text-dark);
  transition: all 0.4s ease;
  gap: 2.5rem;
  border-radius: 0 8px 8px 0;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
  height: 100%;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: -12px;
  width: clamp(16px, 5vw, 20px);
  height: clamp(16px, 5vw, 20px);
  border-radius: 50%;
  background: var(--color-primary);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.timeline-item:hover {
  background-color: rgba(255, 255, 255, 0.95);
  transform: translateX(5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  border-left: 3px solid var(--color-secondary);
}
.timeline-dot{
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  display: block;
  flex-shrink: 0;
}

.timeline-item:hover::before {
  background: var(--color-secondary);
  transform: scale(1.2) rotate(45deg);
}

.timeline-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  min-height: 24px;
  font-size: var(--font-size-small);
  font-weight: bold;
  color: white;
  background: var(--color-primary);
  padding: 4px 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.timeline-item.education .timeline-label {
  background: var(--color-accent);
}

.timeline-item.education:hover{
  border-left: 3px solid var(--color-accent);
}
.timeline-item.education:hover::before {
  background: var(--color-accent);
  transform: scale(1.2) rotate(45deg);
}

.timeline-item.certification .timeline-label {
  background: var(--color-secondary);
}

.timeline-details {
  margin: 10px 0;
  color: var(--text-muted);
}

.timeline-link {
  display: inline-block;
  margin-top: 10px;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.timeline-link:hover {
  color: var(--color-primary-dark);
  text-decoration: underline;
}