@font-face {
  font-family: 'Monofur Nerd Font';
  src: url('/fonts/MonofurNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monofur Nerd Font';
  src: url('/fonts/MonofurNerdFont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monofur Nerd Font';
  src: url('/fonts/MonofurNerdFont-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colores base */
  --primary-color:  #000F0C;  
  --secondary-color:#0F1C19;  
  --terceary-color: #ffa726;  
  --bg-color:       #010E0C;
  --bg-secondary:   #C3FFF2;
  --text-color:     #ffffff; 
  --hover-color:    #ffb74d;

  --font-size-xs: clamp(0.65rem, 1.5vw, 0.85rem);       /* Detalles, badges, tooltips */
  --font-size-small: clamp(0.75rem, 2vw, 1rem);         /* Descripción pequeña */
  --font-size-base: clamp(0.85rem, 2vw, 1.125rem);      /* Texto base general */
  --font-size-medium: clamp(0.95rem, 2.2vw, 1.25rem);   /* Subtítulos, botones */
  --font-size-large: clamp(1.15rem, 3vw, 1.5rem);       /* Títulos de sección */
  
  font-family: 'Monofur Nerd Font', monospace;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  filter: url(#noiseFilter);
}

.Main {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  background-image: url("/assets/icons/curveNegro.svg");
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0 2rem;
}

@media screen and (max-width: 1000px) {
  .Main {
    background-image: url("/src/assets/icons/curve.svg");
  }  
}
.dynamic-text {
  color: white;
  mix-blend-mode: difference;
}

.subtitle {
  font-size: var(--font-size-h3);
  font-weight: 600;
  margin: 1rem 0;
  color: var(--terceary-color);
}

.description {
  font-size: var(--font-size-base);
  color: var(--text-color);
  opacity: 0.9;
  margin-top: 0.5rem;
  mix-blend-mode: difference;
}

.total-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}