.footer {
  background-color: #000000;
  color: var(--text-muted);
  padding: 2rem 2rem 0.5rem 2rem ;
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  max-width: 280px;
}

.footer-subtitle {
  font-size: 1.1rem;
  margin: 0 0 1rem 0;
  opacity: 0.9;
}

.footer-heading {
  font-size: 1.4rem;
  margin: 0;
  font-weight: 600;
  color: var(--text-color);
}

.contact-info {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact-item > *{
  color: var(--text-muted);
}

.contact-icon {
  font-size: 1.3rem;
}

.contact-link {
  text-decoration: none;
  transition: all 0.3s ease;
}

.contact-link:hover {
  text-shadow: 0 0 8px rgba(0, 255, 255, 0.5);
}

.quick-links {
  font-size: 1rem;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quick-link {
  color: var(--text-muted);
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-block;
  padding: 0;
}

.quick-link:hover {
  transform: translateX(6px);
  text-shadow: 0 0 8px rgba(0, 255, 255, 0.5);
}

.social-icons {
  margin: 1rem 0;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.social-icon-link {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  opacity: 0.5;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.social-icon-link:hover {
  transform: translateY(-5px);
  background: rgba(0, 255, 255, 0.151);
  opacity: 1;
}

.footer-bottom {
  margin-top: 1rem;
  padding-top: 0.5rem;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.copyright {
  font-size: 0.9rem;
  opacity: 0.8;
}

