:root {
  /* Variables */
  --bg-color: #000000;
  --secondary-bg: #1C1C1C;
  --text-color: #ffffff;
  --text-color-s: #B0B0B0;
  --text-resaltar: #10FF00;
  --text-resaltar-s: #FF4500;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Responsive text sizes */
  --font-size-small: clamp(0.75rem, 2vw, 1rem);

  --font-size-medium: clamp(0.8rem, 2vw, 1.25rem);
  --font-size-large: clamp(1.25rem, 3vw, 1.5rem);
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
  font-size: var(--font-size-medium);
}

.total-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}